<ion-header>
  <ion-toolbar></ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <br>
    <ion-title> Inicia Sesión </ion-title>
    <br>
  

    <ion-item>
      <ion-label class="normal">
        Usuario
        <ion-input type="string"></ion-input>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="normal">
        Contraseña
        <ion-input type="string"></ion-input>
      </ion-label>
    </ion-item>

    
    <ion-button style="margin: 10px" expand="full" color="warning" [routerLink]="['/qrgen']"> Ingresar </ion-button>
    
  </ion-card>

</ion-content>
