<ion-header>
    <ion-item color="warning">
      <ion-icon name="person"></ion-icon>
      <ion-title>Login</ion-title>
    </ion-item>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Ingrese sus datos</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label position="stacked"> Correo Estudiante </ion-label>
        <ion-input type="email" placeholder="correo@duocuc.cl" [(ngModel)]="credenciales.email"> </ion-input>
      </ion-item>
      
      <ion-item>
        <ion-label position="stacked"> Contraseña </ion-label>
        <ion-input type="password" placeholder="contraseña..." [(ngModel)]="credenciales.password"> </ion-input>
      </ion-item>
      <hr>
    </ion-card-content>

  </ion-card>

  <ion-item>
    <ion-button type="submit" fill="outline" color="dark" slot="end" (click)="login()"> Ingresar </ion-button>
  </ion-item>

  <ion-item>
    <ion-label> ¿No tienes una cuenta? </ion-label>
    <ion-button slot="end" [routerLink]="['/registro']" routerLinkActive="router-link-active" color="dark" expand="block"> ¡Regístrate!</ion-button>
  </ion-item>
  

</ion-content>
