<ion-app>
  
  <ion-split-pane side="start" contentId="main">

    <ion-menu contentId="main">

      <ion-header>
        <ion-toolbar color="secondary">
          <ion-title> Menú </ion-title>
        </ion-toolbar>
      </ion-header>

      <ion-content>
        <ion-list>
          <ion-menu-toggle>
            <ion-item [routerLink]="['/home']"> Home </ion-item>
          </ion-menu-toggle>
          
          <ion-menu-toggle>
            <ion-item [routerLink]="['/login']"> Iniciar Sesión </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle>
            <ion-item [routerLink]="['/registro']" routerLinkActive="router-link-active" > Registrarse </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle>
            <ion-item [routerLink]="['/qrgen']"> Leer QR </ion-item>
          </ion-menu-toggle>


        </ion-list>
      </ion-content>
    </ion-menu>

    <ion-router-outlet id="main"></ion-router-outlet>

  </ion-split-pane>
  

  

</ion-app>
