<ion-header>
  <ion-item color="warning">
    <ion-title>Leer QR </ion-title>
  </ion-item>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-card-header>
        <strong>Escanea el código QR para registrar tu asistencia</strong>
      </ion-card-header>
      <ion-item-group>
        <ion-item>
          <ion-button (click)="scan()" color="success"> Escanear Asistencia</ion-button>
        </ion-item>
        <ion-item>
          <ion-button expand="block" color="dark" (click)="logout()"> Cerrar Sesión </ion-button>
        </ion-item>
      </ion-item-group>
      
    </ion-card-content>
  </ion-card>

</ion-content>
