<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-menu-button slot="start"> <ion-icon name="menu"></ion-icon></ion-menu-button>
    <ion-title>
      Registro de Asistencia
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card>
    <ion-card-header>
      <strong>Estos son los estudiantes que han resgistrado su asistencia</strong>
    </ion-card-header>


    <ion-list>
      <ion-list-header>
        <ion-label style="font-size: 18px;"> Nombre</ion-label>
        <ion-label style="font-size: 18px;"> Clase</ion-label>
      </ion-list-header>

      <ion-item *ngFor="let reg of Regis" (click)="openReg(reg)">
        <ion-label>
          {{ reg.nombre }}
        </ion-label>
        <ion-label>
          {{ reg.asiste }}
        </ion-label>
      </ion-item>
    </ion-list>

    

</ion-card>
</ion-content>
